    <header class="header">
        <nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="index.html">{{ meta.title }}</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu" aria-label="Menüyü Görüntüle">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="menu">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" href="index.html">
                                <i class="bi bi-house-door-fill" aria-hidden="true"></i>
                                <span class="visually-hidden">Ana Sayfa</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="tema-rehberi.html">Tema Rehberi</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="javascript:;" role="button" data-bs-toggle="dropdown">Dropdown</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="javascript:;" tabindex="-1">Disabled</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Arama yapın...">
                        <button type="submit" class="btn btn-secondary">
                            <i class="bi bi-search"></i>
                            <span class="visually-hidden">Arama Yap</span>
                        </button>
                    </form>
                </div>
            </div>
        </nav>
    </header>
