//** Variables

//## Colors
$primary: #ffc600 !default;
$secondary: #231f20 !default;
$light: #f0fafa !default;
$dark: #010101 !default;
$white: #fff !default;
$black: #000 !default;

//## Body
$body-bg: $white !default;
$body-color: #4d4d4f !default;

//## Links
$link-color: $primary !default;
$link-decoration: none !default;
$link-hover-color: $secondary !default;
$link-hover-decoration: none !default;

//## Grid breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: $mobile,
  md: $tablet,
  lg: $desktop,
  xl: $widescreen,
  xxl: $xlargescreen,
) !default;

//## Grid containers
$container-max-widths: (
  sm: 98%,
  md: 98%,
  lg: 98%,
  xl: 98%,
  xxl: 1530px,
) !default;

//## Grid columns
$grid-columns: 12 !default;
$grid-gutter-width: 1.75rem !default;

//## Components
$border-radius: 0.625rem !default;
$border-radius-lg: 1rem !default;
$border-radius-sm: 0.5rem !default;
$border-radius-xs: 0.25rem !default;

//## Typography
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
  sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-base: "Montserrat", #{$font-family-sans-serif} !default;
$font-size-base: 1rem !default;
$line-height-base: 1.5 !default;
$h1-font-size: 3.052rem !default;
$h2-font-size: 2.441rem !default;
$h3-font-size: 1.953rem !default;
$h4-font-size: 1.563rem !default;
$h5-font-size: 1.25rem !default;
$h6-font-size: 1rem !default;
$headings-color: $dark !default;
$headings-font-weight: 700 !default;
$headings-line-height: 1.3 !default;

// Tables
$table-cell-padding: 0.5rem !default;
$table-hover-color: $dark !default;
$table-hover-bg: $light !default;

// Buttons + Forms
$input-btn-padding-y: 0.75rem !default;
$input-btn-padding-x: 1.5rem !default;
$input-btn-font-size: 1rem !default;
$input-btn-line-height: 1.5 !default;

$input-btn-padding-y-sm: 0.5313rem !default;
$input-btn-padding-x-sm: 1rem !default;
$input-btn-font-size-sm: 0.875rem !default;
$input-btn-line-height-sm: 1.5 !default;

$input-btn-padding-y-lg: 0.875rem !default;
$input-btn-padding-x-lg: 1.875rem !default;
$input-btn-font-size-lg: 1.125rem !default;
$input-btn-line-height-lg: 1.6666667 !default;

// Buttons
$btn-font-weight: 700 !default;
$btn-box-shadow: none !default;
$btn-focus-width: 0 !default;
$btn-focus-box-shadow: none !default;
$btn-active-box-shadow: none !default;

// Forms
$input-color: #414142 !default;
$input-placeholder-color: #77787b !default;

// Pagination
$pagination-padding-y: 0.3125rem !default;
$pagination-padding-x: 0.375rem !default;
$pagination-color: $white !default;
$pagination-bg: $secondary !default;
$pagination-border-width: 0 !default;
$pagination-border-color: $secondary !default;
$pagination-border-radius: $border-radius-xs !default;
$pagination-hover-color: $white !default;
$pagination-hover-bg: $primary !default;
$pagination-active-color: $white !default;
$pagination-active-bg: $primary !default;

$pagination-padding-y-sm: 0.125rem !default;
$pagination-padding-x-sm: 0.125rem !default;

$pagination-padding-y-lg: 0.5rem !default;
$pagination-padding-x-lg: 0.75rem !default;

// Tooltips
$tooltip-bg: $secondary !default;
$tooltip-border-radius: $border-radius-xs !default;
$tooltip-color: $white !default;
$tooltip-font-size: 0.875rem !default;
$tooltip-padding-y: 0.25rem !default;
$tooltip-padding-x: 0.75rem !default;

// Badges
$badge-font-weight: 400 !default;
$badge-padding-y: 0.25rem !default;
$badge-padding-x: 0.375rem !default;
$badge-border-radius: $border-radius-xs / 2 !default;

// Modals
$modal-backdrop-bg: $dark !default;
$modal-backdrop-opacity: 0.65 !default;
$modal-content-border-radius: 1rem !default;
$modal-xl: 1012px !default;
$modal-lg: 800px !default;
$modal-md: 98% !default;
$modal-sm: 98% !default;

// List group
$list-group-border-radius: $border-radius-xs !default;
$list-group-item-padding-y: 0.5rem !default;
$list-group-item-padding-x: 1rem !default;

// Breadcrumbs
$breadcrumb-bg: transparent !default;
$breadcrumb-border-radius: 0 !default;
$breadcrumb-font-size: 0.875rem !default;
$breadcrumb-padding-y: 0 !default;
$breadcrumb-padding-x: 0 !default;
