//** Variables

//## Colors
$primary: #ffc600 !default;
$secondary: #231f20 !default;
$light: #f0fafa !default;
$dark: #010101 !default;
$white: #fff !default;
$black: #000 !default;

//## Body
$body-bg: $white !default;
$body-color: #4d4d4f !default;

//## Links
$link-color: $primary !default;
$link-decoration: none !default;
$link-hover-color: $secondary !default;
$link-hover-decoration: none !default;

//## Grid breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: $mobile,
  md: $tablet,
  lg: $desktop,
  xl: $widescreen,
  xxl: $xlargescreen,
) !default;

//## Grid containers
$container-max-widths: (
  sm: 98%,
  md: 98%,
  lg: 98%,
  xl: 98%,
  xxl: 1530px,
) !default;

//## Grid columns
$grid-columns: 12 !default;
$grid-gutter-width: 1.75rem !default;

//## Components
$border-radius: 0.625rem !default;
$border-radius-lg: 1rem !default;
$border-radius-sm: 0.5rem !default;
$border-radius-xs: 0.25rem !default;

//## Typography
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
  sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-base: "Montserrat", #{$font-family-sans-serif} !default;
$font-size-base: 1rem !default;
$line-height-base: 1.5 !default;
$h1-font-size: 3.052rem !default;
$h2-font-size: 2.441rem !default;
$h3-font-size: 1.953rem !default;
$h4-font-size: 1.563rem !default;
$h5-font-size: 1.25rem !default;
$h6-font-size: 1rem !default;
$headings-color: $dark !default;
$headings-font-weight: 700 !default;
$headings-line-height: 1.3 !default;
